/* No Tailwind v4, usamos apenas este import no topo */
@import "tailwindcss";

/* Definindo seu tema direto no CSS (Padrão v4) */
@theme {
  --color-navy: #002147; /* */
  --color-gold: #D4AF37; /* */
  --color-gold-light: #F7E7CE;
}

/* Agora o @apply vai funcionar porque o import está acima */
body {
  @apply bg-white text-navy antialiased;
}

html {
  scroll-behavior: smooth;
}